Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python.
2. R.
3. SQL.
4. Java.

Some of the commonly used libraries used by Data Scientists include:

  1.  TensorFlow.
  2. NumPy.
  3. SciPy.
  4. Pandas.

|Data Science Tools| 
|---|
|SAS|
|Apache Hadoop| 
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:


#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

### Objectives 

. List popular languages used in Data Science
. List Commonly used libraries by data scientists
. Examples of evaluating arithmetic expressions

## Author : Tamer Dakkak